<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>

<body>
    <div class="content-wrapper">
        <div class="content">
            <div>
                <form action="/searchByKeyword">
                    Keyword: 
                    <input type="text" name="keyword">
                    <button class="btn btn-primary">Search by Keyword</button>
                </form>
                <form action="/searchByAuthor">
                    <select name="authorId">
                        <% for (i of authors) { %>
                            <option value="<%= i.authorId %>">
                                <%= i.firstName %> <%= i.lastName %>
                            </option>
                        <% } %>
                    </select>
                    <button class="btn btn-primary">Search by Author</button>
                </form>
            </div>
            <div>
                <form action="/searchByCategory">
                    <select name="category">
                        <% for (i of categories) { %>
                            <option value="<%= i.category %>">
                                <%= i.category %>
                            </option>
                        <% } %>
                    </select>
                    <button class="btn btn-primary">Search by Category</button>
                </form>
                <form action="/searchByLikes">
                    Likes (min, max):
                    <input class="col-xs-1" type="number" name="minLikes">
                    <input class="col-xs-1" type="number" name="maxLikes">
                    <button class="btn btn-primary"> Search by Likes</button>
                </form>
            </div>
        </div>
    </div>
    <%- include("partials/footer.ejs") %>
</body>
</html>