<%- include("partials/head.ejs") %>

<body>

    <h1> Quote Finder </h1>
    <form action="/searchByKeyword">
        Keyword: 
        <input type="text" name="keyword">
        <button>Search by Keyword</button>
    </form>
    <br>
    <form action="/searchByAuthor">
        <select name="authorId">
            <% for (i of authors) { %>
                <option value="<%= i.authorId %>">
                    <%= i.firstName %> <%= i.lastName %>
                </option>
            <% } %>
        </select>
        <button>Search by Author</button>
   </form>
   <br>
   <form action="/searchByCategory">
        <select name="category">
            <% for (i of categories) { %>
                <option value="<%= i.category %>">
                    <%= i.category %>
                </option>
            <% } %>
        </select>
        <button>Search by Category</button>
    </form>

    <%- include("partials/footer.ejs") %>
</body>
</html>