<%- include("partials/head.ejs") %>

<body>

    <h1> Quotes Found </h1>
    
    <% for (i of quotes) { %>

        <div>
            <%= i.quote %><br>
            - <em><a href="#" id="<%= i.authorId %>"><%= i.firstName %> <%= i.lastName %></a></em>
            <br><br>
        </div>

    <% } %>

    <div id="authorInfo"></div>

    <%- include("partials/footer.ejs") %>
    <script src="/js/script.js"></script>
</body>
</html>